name: CI - Continuous Integration

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:

jobs:

  tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Instalar dependências
        run: |
          pip install -r projeto-final/app/requirements.txt

      - name: Executar testes
        run: |
          pytest -q --disable-warnings --maxfail=1


  build-image:
    runs-on: ubuntu-latest
    needs: tests

    steps:
      - name: Checkout código
        uses: actions/checkout@v4

      - name: Login DockerHub
        uses: docker/login-action@v3
        with:
          username: \${{ secrets.DOCKER_USERNAME }}
          password: \${{ secrets.DOCKER_PASSWORD }}

      - name: Build e push da imagem
        uses: docker/build-push-action@v5
        with:
          context: projeto-final
          tags: \${{ secrets.DOCKER_USERNAME }}/taskmanager:latest
          push: true
