global:
  scrape_interval: 5s

scrape_configs:

  - job_name: "taskmanager"
    static_configs:
      - targets: ["taskmanager:5000"]

  - job_name: "node"
    static_configs:
      - targets: ["node-exporter:9100"]

  - job_name: "cadvisor"
    static_configs:
      - targets: ["cadvisor:8080"]
